/* CSS Demo Stylesheet */

/*  ---------------Box Sizing-----------------  */

html {
    box-sizing: border-box;
  }
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }
  
  /*  ---------------Global Sty-----------------  */
  body{
    font-family: "Comic Neue", cursive;

  }

  header.primary{
    background: red;
    color:#ffffff;
    text-shadow: 1px 1px#000000;
    /*long Form*/
    padding-top: 40px;
    padding-right: 40px;
    padding-bottom: 40px;
    padding-left: 40px;
    /* sing valuse short hand*/
    padding: 40px;
    /*T, R, B, L */
    padding: 20px 40px 20px 40px;

    text-align:center;
  }

  header.primary h1{
    
  }



body{
    /* mostly just colors and font types */
    background-color: cadetblue;
    font-family: "Comic Neue", cursive;

}